# Compiled class files
*.class

# Log files
*.log

# Package Manager files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle files
.gradle/
/build/
/out/ # IDE output directory

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# macOS files
.DS_Store

# Misc
# Add this if you want to ignore all lock files, but be mindful of other tools
# that might use lock files that *should* be committed (e.g., frontend package managers)
# *.lock

# Example of ignoring specific cache parts, but generally not needed if .gradle/ is ignored
# /caches/modules-2/